@tailwind base;
@tailwind components;
@tailwind utilities;

/* portfolio-like colors */
:root{
  --page-bg: #0d1117;
  --card-bg: #161b22;
  --accent: #58a6ff;
  --muted: #8b949e;
  --text: #c9d1d9;
}

body {
  background-color: var(--page-bg);
  color: var(--text);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
